/* Main Section */

.main-section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn{
  margin-top: 10px;
  width: fit-content;
}

.llistat img{
  width: 520px;
  margin-top: 10px;
}

/* Lateral Menu */

.menuLateral {
  width: 200px;
  align-items: center;
  padding: 20px 0;
  font-size: 13px;
  justify-content: space-between;
  color: #381845;
  font-weight: bold;
  position: fixed;
}

.menuLateral a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #381845;
  background-color: #B692B2;
  border-radius: 0px;
}

.menuLateral a:hover {
  text-decoration: none;
  color: #613E67;
}

/* Salons cards */
.salons-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.salons-cards .btn {
  width: 100%;
}

.salons-cards img {
  width: 90%;
  margin-bottom: 20px;
  max-height: 126px;
}

.salons-cards h3 {
  margin-bottom: 5px;
  text-align: center;
}

.salons-cards p {
    text-align: center;
}

.salons-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #381845;
  font-weight: bold;
}

.salons-cards a:hover i {
  margin-left: 10px;
}


/* Mobile First Attributes */

@media(max-width: 700px) {
  .salons-cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .salons-cards img {
      max-height: none;
    }

    .main-section {
      display: block;
    }

    .llistat img {
      width: 100%;
    }
  
  }


@media(max-width: 500px) {
  .salons-cards {
    grid-template-columns: 1fr;
  }

  .salons-cards img {
      max-height: none;
    }
}