/* Form */
      
form {
    border: none;
}

.reservar {
    max-width: 500px;
    padding: 20px 40px;
    background: #F5F4F9;
}

textarea:focus{
    outline: #613E67;
}
   


.container-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;

  }

  .formulari{
    margin-left: 30px;
}

  .container-main img {
    width: 100%;
  }


  /* Mobile First Attributes */

  @media screen and (max-width: 500px) {
    .container-main {
        grid-template-columns: 1fr;
      }

}