/* Main Section */

.main-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    width: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
}


.solicituds img {
    max-width: 450px;
    padding: 20px;
}

.solicituds h3 {
    margin-left: 15%;
}

.solicituds {
    display: block;
}

.reserves {
    display: inline-block;
}

/* sol.licitud cards */

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.card .btn {
    width: 100%;
    display: inline-block;
}

.card img {
    width: 90%;
    margin-bottom: 20px;
    max-width: 370px;
}

.card h3 {
    margin-bottom: 5px;
    text-align: center;
}

.card p {
    text-align: center;
}

.card a {
    display: inline-block;
    padding-top: 10px;
    color: #381845;
    font-weight: bold;
}

.card a:hover i {
    margin-left: 10px;
}



/* Mobile First Attributes */

@media(max-width: 700px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }

    .card img {
        max-height: none;
    }

    .solicituds_pendents img {
        max-width: 100%;
    }

    .solicituds img {
        width: 100%;
    }

    .solicituds h3 {
        margin-left: 0%;
    }

    .main-section {
        display: block;
    }

}


@media(max-width: 500px) {
    .card {
        grid-template-columns: 1fr;
    }

}