/* 
Color Palette
From light to dark
F5F4F9
DAC0CC
B692B2
613E67
381845
*/

/*Base styles*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #F5F4F9;
  color: #381845;
  font-size: 15px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a{
  color: #DAC0CC;
  text-decoration: none;
}

ul{
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}


h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
  text-align: center;
}

/* Nav */

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
  justify-content: space-between;
  background-color: #381845;
  color: #F5F4F9;
  font-weight: bold;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #B692B2;
  text-decoration: none;
  color: #B692B2;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.menu-btn {
cursor: pointer;
position: absolute;
top: 20px;
right: 30px;
z-index: 2;
display: none;
color: #381845;
}

.btn {
  cursor: pointer;
  /*display: inline-block;*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #B692B2;
  color: #381845;
  font-size: 15px;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.9;
}

/* Header */

#home-header {
  width: 100%;
  min-height: 150px;
  color: #381845;
  text-align: center;

}

#home-header .logo {
  width: 200px;
}

/* Profile Menu */

.profile-menu {
  display: none;
}

/* Footer */
.footer {
  margin-top: auto;
  background: #381845;
  color: #F5F4F9;
  font-size: 12px;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.footer div img {
  margin-right: 10px;
  width: 160px;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
}

.footer ul li a:hover {
  border-bottom: 2px solid #B692B2;
  text-decoration: none;
  color: #B692B2;
}

/* Mobile First Attributes */

/* MAIN MENU*/

@media(max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background: #F5F4F9;
    width: 50%;
    height: 100%;
    border-right: #DAC0CC 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #DAC0CC solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu a {
    color: #381845;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  /* PROFILE MENU*/

  /* Hide desktop version menu*/
  .main-menu {
    display: none;
  }


  /* Style The Dropdown Button */
.dropbtn {
  background-color: #DAC0CC;
  color: #381845;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.profile-menu {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F5F4F9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #381845;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #B692B2}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #DAC0CC;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #F5F4F9;
}

.show {display:block;}

}
